* {
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    border: 1px solid black;
}

#gameArea {
    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(7, 14vmin);
    grid-template-rows: repeat(7, 14vmin);

}

.redMnstr {
    background-color: red;
}

.blueMnstr {
    background-color: blue;
}

.vnt {
    background-image: url("vent.png");
}

.str {
    background-image: url("start.png");
}

.chng {
    background-image: url("change.png");
}

.amoeba_purple_dotted {
    background-image: url("amoeba_purple_dotted.png");
}

.amoeba_purple_stripped {
    background-image: url("amoeba_purple_stripped.png");
}

.amoeba_red_dotted {
    background-image: url("amoeba_red_dotted.png");
}

.amoeba_red_stripped {
    background-image: url("amoeba_red_stripped.png");
}

.slug_purple_dotted {
    background-image: url("slug_purple_dotted.png");
}

.slug_purple_stripped {
    background-image: url("slug_purple_stripped.png");
}

.slug_red_dotted {
    background-image: url("slug_red_dotted.png");
}

.slug_red_stripped {
    background-image: url("slug_red_stripped.png");
}

.chng_animal {
    background-image: url("change_animal.png");
}

.chng_color {
    background-image: url("change_color.png");
}

.chng_pattern {
    background-image: url("change_pattern.png");
}

.invisible {
    border: 0px;
}

.monster {
    cursor: pointer;
}

#rolledMonster {
    width: 150px;
}

button {
    cursor: pointer;
}


/* .end-row {
    display: flex;
    justify-content: space-between;
}

.middle-row {
    display: flex;
    justify-content: space-between;
}

.end-row, .middle-row {
    margin-top: 30px;
    margin-bottom: 30px;
} */